.content {
  width: 100%;
  padding: 41px 32px;
}

.content-title {
  color: var(--color-gray-4);
  font-weight: var(--weight-bold);
  font-size: 24px;

  margin-bottom: 31px;
}

.content-form-container {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 16px 0;
}

.content-form-title {
  min-width: 140px;
  font-weight: var(--weight-medium);
  color: var(--color-gray-4);
}

.content-info {
  border-top: 1px solid var(--color-coolgray-light4);
  border-bottom: 1px solid var(--color-coolgray-light4);
  padding: 16px 0;
}

.content-form-info {
  font-weight: var(--weight-regular);
  color: var(--color-gray-4);
}

.content-form-input {
  font-size: 1rem;
  border: 1px solid var(--color-coolgray-light5);
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: var(--weight-regular);
  color: var(--color-gray-4);
}

.content-form-input:focus {
  border: 1px solid var(--color-primary-default);
  outline: 3px solid var(--color-primary-light2);
}

.content-form-date {
  font-size: 1rem;
  border: 1px solid var(--color-coolgray-light5);
  padding: 8px 13px;
  border-radius: 5px;
  font-weight: var(--weight-regular);
  color: var(--color-gray-4);

  position: relative;
}

.content-form-date:hover {
  border: 1px solid var(--color-coolgray-light6);
  background-color: var(--color-coolgray-light3);
}

.content-form-date:focus {
  border: 1px solid var(--color-primary-default);
  outline: 3px solid var(--color-primary-light2);
}

/*캘린더*/
.calendar {
  border: 1px solid var(--color-coolgray-light2);
  border-radius: 5px;
  background-color: var(--color-wite);

  padding: 16px 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);

  position: absolute;
  z-index: 1000;
  margin-top: 5px;
}

.year-month {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selectors {
  display: flex;
  gap: 4px;
}

.year {
  font-weight: var(--weight-regular);
  color: var(--color-gray-4);
  padding: 5px 12px;
}

/*셀렉터*/

.selector-year {
  border: 1px solid var(--color-coolgray-light5);
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: var(--weight-regular);
  color: var(--color-gray-4);
  width: 100px;
  cursor: pointer;

  position: relative;
}

.selector-month {
  border: 1px solid var(--color-coolgray-light5);
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: var(--weight-regular);
  color: var(--color-gray-4);
  width: 72px;
  cursor: pointer;

  position: relative;
}

.selector-focus {
  border: 1px solid var(--color-primary-default);
  outline: 3px solid var(--color-primary-light2);
}

.selector:hover {
  border: 1px solid var(--color-coolgray-light6);
  background-color: var(--color-coolgray-light3);
}

.selector-in {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selector-in-title {
  width: 100%;
}

.selector-in-icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options {
  position: absolute;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.16);
  font-weight: var(--weight-regular);
  color: var(--color-gray-4);
  padding: 8px 0;
  height: 164px;
  overflow-y: scroll;
  background-color: var(--color-wite);
}

.option-year {
  width: 100px;
  height: 37px;
  padding: 8px 0 9px 12px;
  display: flex;
  align-items: center;
}
.option-month {
  width: 72px;
  height: 37px;
  padding: 8px 0 9px 12px;
  display: flex;
  align-items: center;
}

.option-year:hover,
.option-month:hover {
  background-color: var(--color-coolgray-light3);
}

/*날짜*/

.days {
  margin-top: 15px;
}
.day-week {
  color: var(--color-gray-1);
  font-weight: var(--weight-regular);
}

.week {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.day {
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.not-this-month {
  color: var(--color-coolgray-light5);
  font-weight: var(--weight-regular);
}
.this-month {
  color: var(--color-gray-4);
  font-weight: var(--weight-regular);
}

.this-day {
  background-color: var(--color-primary-default);
  color: var(--color-wite);
  font-weight: var(--weight-regular);
  border-radius: 16px;
}

.this-month:hover {
  background-color: var(--color-primary-light2);
  border-radius: 16px;
}

/*Radio*/
.content-radio-wrap {
  display: flex;
  gap: 32px;
}

.content-radio-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content-radio-input {
  margin: 0;
}
.content-radio-title {
  margin-top: 3px;
  color: var(--color-gray-4);
  font-weight: var(--weight-regular);
}

.content-radio-chcked {
  margin: 0;
  appearance: none;
  border: 1px solid var(--color-coolgray-light5);
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.content-radio-not-checked {
  margin: 0;
  appearance: none;
  border: 1px solid var(--color-coolgray-light5);
  width: 16px;
  height: 16px;
  border-radius: 8px;
}

.content-radio-chcked:checked {
  border: 5px solid var(--color-primary-default);
}

.content-radio-not-checked:hover {
  border: 1px solid var(--color-coolgray-light6);
  background-color: var(--color-coolgray-light3);
}

.content-radio-chose {
  margin-top: 12px;
  color: var(--color-red-1);
  font-size: 12px;
  font-weight: var(--weight-regular);
}

/*checkbox*/

.content-checkbox-wrap {
  display: flex;
  gap: 32px;
}

.content-checkbox-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.content-checkbox-checked {
  margin: 0;
  width: 16px;
  height: 16px;
  appearance: none;
  border: 1px solid var(--color-primary-default);
  background-color: var(--color-primary-default);
  background-image: url("../public/check_checked.png");
  background-size: 12px;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 4px;
}

.content-checkbox-not-checked {
  margin: 0;
  width: 16px;
  height: 16px;
  appearance: none;
  border: 1px solid var(--color-coolgray-light5);
  border-radius: 4px;
}

.content-checkbox-title {
  margin-top: 3px;
  color: var(--color-gray-4);
  font-weight: var(--weight-regular);
}

.content-checkbox-not-checked:hover {
  border: 1px solid var(--color-coolgray-light6);
  background-color: var(--color-coolgray-light3);
}

/*버튼*/
.submit-btn-wrap {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}
.submit-btn {
  font-size: 1rem;
  color: var(--color-wite);
  font-weight: var(--weight-regular);
  padding: 8px 24px;
  background-color: var(--color-primary-default);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--color-primary-dark1);
}
